@charset "utf-8";
/* CSS Document */
body {

color: #666666;
	background: #158CFC url(bg.png);
}
#bg{
	background: url(back.png) repeat-x top;
}

	div.gbody{
	
	overflow:auto;
width:100%;
height:500px;
border:0px solid red;
background-color:#FFF;	
	}
#apDiv1 {
	position: absolute;
	width: 300px;
	height: 178px;
	z-index: 0;
	left: 147px;
	top: 147px;
	border: 5px solid #000;
	font-size: 16px;
	margin-left: 5px;
	padding: 3px 8px 3px 8px;
	background-color: #0066CC;
	color: #FFF;
}
#apDiv2 {
	position: absolute;
	width: 300px;
	height: 178px;
	z-index: 2;
	left: 510px;
	top: 147px;
	background-color: #0066CC;
	border: 5px solid #000;
	font-size: 16px;
	margin-left: 5px;
	padding: 3px 8px 3px 8px;
	color: #FFFFFF;
	font-weight: bold;
}
#apDiv3 {
	position: absolute;
	width: 300px;
	height: 178px;
	z-index: 2;
	left: 869px;
	top: 147px;
	background-color: #0066CC;
	border: 5px solid #000;
	font-size: 16px;
	margin-left: 5px;
	padding: 3px 8px 3px 8px;
	color: #FFFFFF;
	font-weight: bold;
}
#apDiv4 {
	position: absolute;
	width: 80px;
	height: 30px;
	z-index: 1;
	left: 230px;
	top: -5px;
	background-color: #FF00FF;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border: 5px solid #000;
}
#apDiv5 {
	position: absolute;
	width: 80px;
	height: 30px;
	z-index: 1;
	left: 231px;
	top: -5px;
	background-color: #FF0000;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	border: 5px solid #000;
}
#apDiv6 {
	position: absolute;
	width: 80px;
	height: 30px;
	z-index: 1;
	left: 231px;
	background-color: #FFFF00;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	top: -4px;
	color: #000000;
	border: 5px solid #000;
}
#apDiv1 p {
	font-weight: bold;
}
@media (min-width: 992px) {
div{
	float: left;
	width: 30%;
}
}
@media (max-width: 991px) and (min-width: 768px) {
#a,#b{
	width: 45%;
	float: left;
}
#c{
	width: 94%;
}
}
@media (max-width: 767px) {
div{
	width: 70%;
	float: center;
}

